<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../../assets/css/style.css" media="all" />

<head>
    <title>Home</title>
    <%- include('../../layout/header.ejs') %>
</head>

<%- include('../../layout/nav.ejs') %>

<body>

    <div class="bodyread">

        <p class="posteTicket text-white">Poste 451</p>


        <p class="detailTicket text-white"> détails </p>





        <h5 class="text-white">Problème d'écran</h5>
        <p class="text-white">écran du pc noir, ne veux pas s'allumer.</p>
        <div class="text-white">Urgence : 4</div>
        <svg class="icondownload bi bi-arrow-down" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M6.646 11.646a.5.5 0 01.708 0L10 14.293l2.646-2.647a.5.5 0 01.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z"
                clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M10 4.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V5a.5.5 0 01.5-.5z" clip-rule="evenodd">
            </path>
        </svg>
    </div>




    </div>



    <%- include('../../layout/footer.ejs') %>
</body>

</html>