<!DOCTYPE html>
<html>


<head>
    <title>Login page</title>
    <%- include('../layout/header.ejs') %>
</head>

<body>
<%- include('../layout/nav.ejs') %>

<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-8 mx-md-8 text-center text-lg-left dark-grey-text">

        <!--Grid row-->
        <div class="row d-flex justify-content-center">

            <!--Grid column-->
            <div class="col-lg-8 text-center">
                <h3 class="font-weight-bold mb-4">Mentions légale</h3>
            </div>
            <!--Grid column-->

            <!--Section: Content-->


        </div>
        <!--Grid row-->
        <section class="text-left dark-grey-text">

            <!--Grid row-->
            <div class="row d-flex justify-content-left">

                <!--Grid column-->
                <div class="col-lg-7">

                    <p>La plateforme SOS Smith and Jones vous est mise à disposition par Université Savoie Mont Blanc,
                        une société francaise dont le siège est situé à Annecy-le-vieux, France. </p>
                    <p>Numéro d’immatriculation : 4289139</p>
                    <p>Forme de société: Aide </p>
                    <p>Numero d’identification : MOSS EU8891131</p>
                    <p>Chief Executive Officer : Steven Pescheteau</p>
                    <p>Adresse postale : 9 rue de l'arc en ciel, Annecy-le-vieux.</p>
                    <p>Hébergeur du site :Luc Damas, Inc. </p>

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->
        </section>
        <!--Section: Content-->

    </section>
    <!--Section: Content-->


</div>


<%- include('../layout/footer.ejs') %>
</body>

</html>