<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <%- include('layout/header.ejs') %>
</head>

<body>
    <%- include('layout/nav.ejs') %>

    <%- include('layout/footer.ejs') %>
</body>

</html>