.titre1{
    margin-left:10%;
    margin-top: 5%;
}
.CardTicket{
    width: 25%;
    margin-left:7%;
    margin-top: 5%; 
    display: inline-block;
}
.urgence{
    display: inline-block; 
    width: 80%;
}
.icondownload{
    display: inline-block; margin-left: 5%;
}