<!DOCTYPE html>
<html>

<head>
    <title>Login page</title>
    <%- include('../layout/header.ejs') %>
</head>

<body>
    <%- include('../layout/nav.ejs') %>

    <div class="container my-5">
        <form action="" method="POST" class="col-md-6 offset-md-3">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Valider" name="send">
            </div>
        </form>
    </div>


    <%- include('../layout/footer.ejs') %>
</body>

</html>